# --- DEPENDÊNCIAS ---
node_modules/
jspm_packages/
bun.lockb

# --- BUILD E ARTEFATOS ---
dist/
dist-ssr/
out/
target/
bin/
output/
build/
*.class
*.jar
*.war
*.ear

# --- VARIÁVEIS DE AMBIENTE ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# --- IDE E SISTEMA ---
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- LOGS ---
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- MAVEN / JAVA ---
mvnw
mvnw.cmd
.mvn/
.gradle/
local.properties
captures/
.externalNativeBuild/
.cxx/

# --- OUTROS ---
public/vite.svg
